@import '../../constants';

.login-form {
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 7px;
    }

    input, textarea {
      font-family: inherit;
      border: 1px $border-color solid;
      border-radius: 4px;
      background: $input-background;
      padding: 5px 10px;
      line-height: 24px;
      color: $input-color;
      outline: none;
    }
  }

  &__checkbox {
    margin-bottom: 20px;

    label {
      font-weight: 600;
      font-size: 12px;
    }
    input {
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      background: #f8c233;
    }

    button:last-child {
      background: #e93f37;
    }
  }

}