@import '../../constants';

.news-search {
  margin-bottom: 1rem;
  box-sizing: border-box;
  width: 100%;
  background: $white;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 4px;
  border: 1px solid $border-color;

  &__input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    border: 1px solid $border-color;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 22fr 2fr;
    background: $input-background;

    input {
      border: none;
      background: transparent;
      outline: none;
    }

    i {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $input-color;
      font-size: 18px;
    }
  }
}