.login-form {
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 7px;
    }

    input, textarea {
      border: 1px #d3d3d3 solid;
      border-radius: 4px;
      background: #f8f8f8;
      padding: 5px 10px;
      line-height: 24px;
      color: #555555;
    }
    ::placeholder {
      font-family: unset !important;
    }


  }

  &__checkbox {
    margin-bottom: 20px;
    label {
      font-weight: 600;
      font-size: 12px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      cursor: pointer;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      background: #f8c233;
    }

    button:last-child {
      background: #e93f37;
    }
  }

}