.news-card {
  border: 1px solid lightgrey;
  background: white;
  border-radius: 4px;
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 1rem 1rem;

  p {
    font-size: 12px
  }

  p:last-child {
    text-align: right
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left !important;
  }

  &__footer {
    button {
      cursor: pointer;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      color: white;
      font-weight: 600;
    }

    button:first-child {
      background: #08b95b;
    }

    button:last-child {
      background: #e93f37;
    }

  }
}

@media screen and (min-width: 768px) {
  .news-card {
    margin: 0;
  }
}