.news-card {
  border: 1px solid lightgrey;
  background: white;
  border-radius: 4px;
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
  min-height: 294px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 12px
  }

  p:last-child {
    text-align: right
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    //align-items: center;
  }

  &__header-title {
    font-weight: 600;
  }

  &__header-date {
    font-weight: 600;
    color: #707070;
    font-size: 12px;
    white-space: nowrap;
  }

  &__body {
    margin: 1rem 0;
    font-size: 14px;
  }
  &__body-text {

  }

  &__body-collapse {
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #ef7755;
  }

  &__footer {
    margin-top: auto;

    button {
      cursor: pointer;
      border: none;
      height: 25px;
      padding: 0 15px;
      border-radius: 4px;
      color: white;
      font-weight: 600;
    }

    button:first-child {
      background: #08b95b;
    }

    button:last-child {
      background: #e93f37;
    }

  }

  &__footer-approved {
    font-weight: 600;
    color: #08b95b;
    i {
      font-size: 16px;
    }
  }

  &__footer-pending {
    font-weight: 600;
    color: #5082de;
    i {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .news-card {
    margin: 0;
  }
}