.news-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .news-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 2em;
  }
}