@import '../../constants';

.news-card {
  border: 1px solid $border-color;
  background: $white;
  border-radius: 4px;
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 12px
  }

  p:last-child {
    text-align: right
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-weight: 600;
  }

  &__header-date {
    font-weight: 600;
    color: $card-header-date;
    font-size: 12px;
    white-space: nowrap;
    align-self: flex-start;
  }

  &__body {
    margin: 1rem 0;
    font-size: 14px;
    line-height: 1.3rem;
    text-align: justify;
  }

  &__body-text {

  }

  &__body-collapse {
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    color: $orange;
  }

  &__footer {
    margin-top: auto;

    button {
      cursor: pointer;
      border: none;
      height: 25px;
      padding: 0 15px;
      border-radius: 4px;
      color: $white;
      font-weight: 600;
    }

    button:first-child {
      background: $green;
    }

    button:last-child {
      background: $red;
    }

  }

  &__footer-approved {
    font-weight: 600;
    color: $green;

    i {
      font-size: 16px;
    }
  }

  &__footer-pending {
    font-weight: 600;
    color: $blue;

    i {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .news-card {
    margin: 0;
  }
}