$green: #08b95b;
$blue: #3b77e5;
$red: #e93f37;
$orange: #e89a09;
$white: #ffffff;
$loader: #ffffff;
$error-color: #711e25;
$error-background: #f8d7da;
$input-background: #f8f8f8;
$input-color: #555555;
$card-header-date: #707070;
$border-color: lightgrey;