.content {
  //backdrop-filter: blur(10px);
  //background-color: rgba(220, 220, 220, 0.3);
  height: 100%;
  border-radius: 4px;
  max-width: 900px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}